html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v18-cyrillic-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-500 - cyrillic */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/inter-v18-cyrillic-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-600 - cyrillic */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/inter-v18-cyrillic-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-700 - cyrillic */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inter-v18-cyrillic-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-800 - cyrillic */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/inter-v18-cyrillic-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/mulish-v13-cyrillic-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* mulish-800 - cyrillic */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/mulish-v13-cyrillic-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }


  :root {
    --font-family: "Inter", sans-serif;
    --second-family: "Mulish", sans-serif;
    --third-family: "SF Pro", sans-serif;
    --text: #1d1d1f;
  }


  *, *::before, *::after {
    box-sizing: border-box;
  }

    body {
        font-family: var(--font-family);
    }

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}


.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
    border-bottom: 1px solid #e3e3e3;
}

.header-top__right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-top__right > :last-child {
    font-weight: 600;
    font-size: 20px;
    color: var(--text);
    text-decoration: none;
}

.header-top__right > :first-child {
    display: flex;
    gap: 15px;
}

.header-bottom {
    display: flex;
    justify-content: flex-end;
    padding: 30px 0;
    z-index: 1000;
    position: sticky!important;
    top: 0;
}


.header-bottom a {
    border-radius: 100%;
    background: #EAEAEA;
    padding: 8px 10px;
    position: relative;
}

.categories-cont-item {
  border-radius: 12px;
  padding: 10px;
  transition: all ease-in-out .3s;
}

.categories-cont-item img {
  transition: all ease-in-out .3s;
}


.categories-cont-item:hover {
  background: #fff;
  border-radius: 12px;
  padding: 10px;
}

.categories-cont-item:hover img {
  transform: scale(1.1);
}






.header-bottom span {
    position: absolute;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    bottom: 0;
    left: -2px;
    z-index: 2;
    background: #E95846;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 10px;
    color: #fff;
}

.hero-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.hero-cont h1 {
  font-weight: 600;
  font-size: 48px;
  color: #6e6e73;
  margin-bottom: 15px;
}

.hero-cont h1 span {
  color: var(--text);
}

.hero-cont > :first-child p {
  font-weight: 400;
  font-size: 21px;
  color: var(--text);
}

.hero-cont__right {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.hero-cont__right-item {
  display: flex;
  gap: 20px;
  align-items: center;
}

.hero-cont__right-item p {
  font-weight: 600;
  font-size: 18px;
  color: var(--text);
  margin-bottom: 10px;
}

.hero-cont__right-item a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  gap: 8px;
  padding: 3px;
  transition: all ease-in-out .3s;
}


.hero-cont__right-item a:hover {
  background: #fff;
  border-radius: 15px;
  transform: scale(1.03);
}

.hero-cont__right-item a p {
  font-weight: 400;
  font-size: 12px;
  color: #06c;
  margin: 0;
}

.categories-cont a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 23px;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: var(--text);
}

.categories-cont {
  display: flex;
  gap: 80px;
  margin-top: 90px;
}

.swiper-cat h4 {
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 7px;
}

.swiper-cat {
  overflow-x: hidden;
}

.swiper-cat, .swiper-container {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  overflow-x: hidden;
}

.swiper-cat p {
  font-weight: 400;
  font-size: 20px;
}

.swiper-cat .swiper-wrapper .swiper-slide {
  border-radius: 20px;
  padding: 50px;
  overflow: hidden;
  position: relative;
  min-height: 500px;
}

.slide-1 {
  background: radial-gradient(61.08% 66.53% at 52.54% 64.3%, #5960b2 0%, #1b1d66 100%);
  color: #fff;
}

.slide-2 {
  background: radial-gradient(61.08% 66.53% at 52.54% 64.3%, #f1f1f1 0%, #d3d3d3 100%);
  color: var(--text);
}

.slide-3 {
  color: #fff;
  background: radial-gradient(63.64% 73.49% at 56.76% 58.2%, rgb(237, 123, 82) 0%, rgb(229, 98, 40) 100%);
}

.slide-4 {
  background: linear-gradient(206deg, #7561e8 0%, #4d39c0 100%);
  color: #fff;
}

.swiper-cat .swiper-wrapper .swiper-slide img {
  position: absolute;
  transition: all ease-in-out 0.3s;
  z-index: 121212;
}

.swiper-cat .swiper-wrapper .swiper-slide img:hover {
  transform: scale(1.1);
}

.categories-slider {
  margin-top: 92px;
}

.wrapper2 {
  max-width: 1380px;
  margin: 0 auto;
  position: relative;
}

.slider-buttons {
  position: absolute;
  top: 40%;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.products {
  margin-top: 70px;
}


.swiper-container .swiper-wrapper .swiper-slide {
  background: #fff;
  border-radius: 20px;
  padding: 30px;
}

.swiper-container .swiper-wrapper .swiper-slide > :first-child img {
  width: 100%;
  margin-bottom: 11px;
}

body {
  background: #f5f5f7;
}

.product-name {
  font-weight: 700;
  font-size: 30px;
  color: var(--text);
  margin-bottom: 40px;
}

.prouct-price {
  display: flex;
  align-items: flex-end;
  gap: 7px;
  margin-bottom: 20px;
}

.prouct-price > :first-child {
  font-weight: 500;
  font-size: 25px;
  color: var(--text);
}

.prouct-price > :last-child  {
  font-weight: 500;
  font-size: 16px;
  text-decoration: line-through;
  color: #c1c1c1;
}

.color-picker {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 33px;
}

.color-options {
  display: flex;
  gap: 5px;
}

.add-to-cart {
  display: flex;
  align-items:  center;
  gap: 14px;
}

.add-to-cart a {
  font-weight: 500;
  font-size: 16px;
  color: var(--text);
  text-decoration: none;
}

.add-to-cart button {
  background: #0071e3;
  border-radius: 20px;
  padding: 10px 18px;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  border: none;
}

.products-item h2 {
  font-weight: 600;
  font-size: 30px;
  color: var(--text);
  margin-bottom: 30px;
}

.products > :not(:first-child) {
  margin-top: 110px;
}

.sale-block {
  display: flex;
  gap: 20px;
}

.sale-block h5 {
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 5px;
}

.sale-block p {
  font-weight: 400;
  font-size: 20px;
}

.sale-block-item-1 {
  flex: 1.4;
  color: #fff;
  background: radial-gradient(69.35% 82.26% at 62.11% 81.2%, #cad0ff 0%, #8d59bd 100%);
}

.sale-block-item-2 {
  flex: 1;
  color: #fff;
  background: radial-gradient(112.51% 81.79% at 73.61% 78.6%, #573e77 0%, #392059 100%);
}

.sale-block-item-3 {
  flex: 1;
  color: var(--text);
  background: radial-gradient(61.08% 66.53% at 52.54% 64.3%, #f1f1f1 0%, #d3d3d3 100%);
}

.sale-block-item-3 span {
  color: #9492c2;
}

.sale-block-item-4 {
  flex: 1;
  color: #fff;
  background: radial-gradient(61.08% 66.53% at 52.54% 64.3%, #5d5d5d 0%, #404040 100%);
}

.sale-block div {
  border-radius: 20px;
  padding: 30px;
  min-height: 500px;
}

.sale h2,
.advantages h2,
.reviews h2 {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 30px;
  color: var(--text);
}

.sale,
.advantages,
.reviews {
  margin-top: 80px;
}

.swiper-advantages {
  overflow: hidden;
  max-width: 1280px;
  margin: 0 auto;
}

.swiper-advantages .swiper-wrapper .swiper-slide {
  border-radius: 20px;
  background: #fff;
  padding: 30px;
  min-height: 200px;
}

.swiper-advantages img {
  margin-bottom: 10px;
}

.swiper-advantages p {
  font-size: 20px;
  font-weight: 600;
  color: var(--text);
}

.swiper-advantages p span {
  font-weight: 700;
}

.advantages-1 span,
.advantages-3 span,
.advantages-5 span {
  color: #0071e3;
}

.advantages-2 span {
  color: #7561e8;
}

.advantages-4 span {
  color: #d96437;
}









/* footer start */

.footer-cont {
  display: flex;
  gap: 20px;
}

.footer-cont > :first-child {
  flex: 1.5;
  background: linear-gradient(39deg, #ceff45 0%, #c4ff21 100%);
  padding: 25px 40px;
  border-radius: 20px;
}

.footer-cont > :first-child h6 {
  font-weight: 700;
  font-size: 23px;
  color: #222;
  margin-bottom: 26px;
}

.footer-sale > :first-child p {
  font-weight: 400;
  font-size: 12px;
  color: #222;
}

.footer-cont > :nth-child(2),
.footer-cont > :nth-child(3) {
  flex: 1;
}

.footer-cont > :nth-child(2) {
  background: radial-gradient(175.79% 126.74% at 98.43% 96.26%, #6c6c6c 0%, #3c3c3c 100%);
  border-radius: 20px;
  padding: 25px 30px;
}

.footer-cont > :nth-child(2) > :first-child {
  display: flex;
  gap: 25px;
  align-items: center;
  margin-bottom: 12px;
}

.footer-cont > :nth-child(2) > :first-child p {
  font-weight: 700;
  font-size: 23px;
  color: #fff;
}

.footer-cont > :nth-child(2) > :last-child {
  display: flex;
  gap: 7px;
  align-items: center;
  opacity: .5;
}

.footer-cont > :nth-child(2) > :last-child a {
  font-weight: 500;
  font-size: 15px;
  color: #fff;
  text-decoration: none;
}

.footer-end > :first-child {
  display: flex;
  gap: 13px;
  margin-bottom: 21px;
}

.footer-end > :first-child a {
  flex: 1;
  padding: 13px 15px 11px 15px;
  border-radius: 6px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 7px;
}

.footer-end > :first-child a p {
  font-weight: 400;
  font-size: 11px;
  text-align: center;
  color: #fff;
}

.footer-end > :first-child > :first-child {
  background: #ea2840;
}

.footer-end > :first-child > :nth-child(2) {
  background: #2ca138;
}

.footer-end > :first-child > :nth-child(3) {
  background: #29a0e5;
}

.footer-end > :last-child a {
  display: block;
  font-weight: 500;
  font-size: 15px;
  line-height: 120%;
  text-align: right;
  color: #222;
  text-decoration: none;
}


.footer-cont {
  padding: 50px 0;
  border-top: 1px solid #e3e3e3;
}

/* footer end */




/* bottom slider start */

.slider-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 1280px;
  margin: 0 auto;
}

.mySwiper {
  width: calc(100% - 320px);
  overflow: hidden;
}

.fixed-block {
  width: 300px;
  flex-shrink: 0;
}

.mySwiper img {
  width: 100%;
  border-radius: 16px;
  cursor: pointer;
}

.telegram-card {
  border-radius: 20px;
  box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.08);
  background: radial-gradient(59.94% 60.68% at 63.77% 52.58%, #3db4f9 0%, #29a0e5 100%);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all ease-in-out .3s;
}

.telegram-card:hover {
  transform: scale(1.05);
}

.telegram-card p {
  font-weight: 700;
  font-size: 27px;
  color: #fff;
  margin-bottom: 52px;
}

.telegram-card span {
  font-weight: 500;
  font-size: 24px;
  color: #fff;
}

.telegram-card > :nth-child(2) {
  margin-bottom: 53px;
}

.telegram-card a {
  position: absolute;
  bottom: 30px;
  right: 32px;
  display: flex;
  font-weight: 400;
  font-size: 10px;
  color: #fff;
  text-decoration: none;
  align-items: center;
  gap: 4px;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  content: ''!important;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  content: ''!important;
}

footer {
  margin-top: 85px;
}



/* bottom slider end */







/* product start */


.single-info {
  display: flex;
  gap: 58px;
}

.single-info > :first-child {
  flex: 1;
}

.single-info > :last-child {
  flex: 2;
  position: sticky;
  top: 20px;
  max-height: 1000px;
}

.single-info-block > :first-child h3 {
  font-weight: 800;
  font-size: 30px;
  color: var(--text);
}

.single-info-block > :first-child {
  padding-bottom: 15px;
  border-bottom: 1px solid #e3e3e3;
  margin-bottom: 20px;
}

.single-price > :first-child {
  font-weight: 600;
  font-size: 20px;
  color: #000;
  margin-bottom: 10px;
}

.single-price > :nth-child(2) {
  font-weight: 500;
  font-size: 22px;
  color: #000;
}

.single-price,
.desc,
.equipment {
  margin-bottom: 20px;
}

.desc > :first-child,
.equipment > :first-child {
  font-weight: 600;
  font-size: 20px;
  color: #000;
  margin-bottom: 10px;
}

.desc > :last-child,
.equipment ul li {
  font-weight: 400;
  font-size: 14px;
  color: #000;
}

.equipment ul {
  list-style: disc;
}

.equipment ul > :not(:last-child) {
  margin-bottom: 3px;
}

.colors {
  display: flex;
  align-items: center;
  gap: 78px;
}

.colors > :last-child {
  display: flex;
  align-items: center;
  gap: 15px;
}

.colors > :last-child p {
  font-weight: 400;
  font-size: 14px;
  color: #000;
}

.colors > :first-child p {
  font-weight: 600;
  font-size: 20px;
  color: #000;
  margin-bottom: 10px;
}

.colors {
  padding-bottom: 20px;
  border-bottom: 1px solid #e3e3e3;
  margin-bottom: 20px;
}

.conditions h6 {
  font-weight: 600;
  font-size: 15px;
  color: var(--text);
  margin-bottom: 3px;
}

.conditions p {
  font-weight: 400;
  font-size: 12px;
  color: rgba(29, 29, 31, 0.7);
}

.conditions > :first-child,
.conditions > :last-child,
.conditions > :nth-child(2) {
  display: flex;
  align-items: center;
  gap: 17px;
}

.conditions > :not(:last-child) {
  margin-bottom: 17px;
}

.conditions {
  padding-bottom: 20px;
  border-bottom: 1px solid #e3e3e3;
  margin-bottom: 20px;
}

.help {
  display: flex;
  border: 1px solid #e3e3e3;
  border-radius: 20px;
  padding: 13px 22px;
  gap: 20px;
}

.help > :first-child {
  flex: 3;
}

.help > :first-child h5 {
  font-weight: 600;
  font-size: 20px;
  color: #000;
  margin-bottom: 15px;
}

.help > :first-child p {
  font-weight: 400;
  font-size: 14px;
  color: #000;
}

.help > :last-child {
  flex: 1;
  box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.08);
  background: radial-gradient(59.94% 60.68% at 63.77% 52.58%, #3db4f9 0%, #29a0e5 100%);
  border-radius: 20px;
  padding: 20px 16px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.help > :last-child p {
  font-weight: 500;
  font-size: 11px;
  color: #fff;
}



/* product end */